body {
    font-family: 'Open Sans', serif;
}

a{
    text-decoration: none;
    color: white;
}
.flex-container{
    display: flex;
    flex-direction:column;
    margin: 0;
}
.flex-nav-bar{
    display:flex;
    height: 70px;
    background-color: #1d2124;
}
.left-top-logo-text{
    font-weight: 700;
    font-size:22px;
}
.left-top-logo-container{
    display: flex;
    align-items: center;

}
.left-top-logo-image{
    margin-right: 20px;
    background-color:#1a1d20 ;

}
.links-container{
    padding: 0;
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: center;
}
.links{
    list-style-type: none;
    font-size: 15px;
    padding-left: 20px;
    font-weight: 400;
    text-transform: uppercase;
}
.search{
    background-color:#1a1d20 ;
    width: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 35px;
    text-transform: uppercase;
}
.flex-header{
    background-image: url("../images/header-bg@1X.png");
    background-attachment: fixed;
    display: flex;
    height: 404px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
}
.button-properties{
    width: 170px;
    height: 55px;
    border-radius: 5px;
    text-align: center;
    outline: none;
    color: white;
    margin-top: 50px;
}
.green-button{
    background-color: #89ca62;
    font-weight: 600;
    font-size: 18px;

}
.blue-button{
    background-color: #14b9d5;
    margin-left: 15px;
    font-weight: 600;
    outline: none;
    font-size: 18px;

}
.the-latest-news{
    color: white;
    margin: 0 auto;
    font-size: 27px;
    font-weight: 500;
    text-transform: uppercase;
}
.image-container{
    display: flex;
    flex-wrap: wrap;
    justify-content:space-around;
    width: 1160px;
}
.image-container-text{
    font-size: 22pt;
    color:#18b4cf;
    font-weight: 700;
    text-transform: uppercase;
}
.images-in-main-container{
    background-color:#f2f2f2;
    display: flex;
    align-items: center;
    height: 1000px;
    flex-direction: column;

}
.fourth-image-container{
    margin-top: -90px;

}
.fifth-image-container{
    margin-top: 30px;
}
.sixth-image-container{
    margin-top: -50px;
}
.image-container-properties{
    background-color: #ffffff;
    height: max-content;
}
.pictures-description{
    text-align:center;
    font-size: 18px;
    font-weight: 600;
    color: #353a3d;
}
.grid-container{
    display: grid;
}
.grid-container-header{
    height: 590px;
    display: grid;
    grid-template-rows: auto 370px auto;
    background-image: url("../images/Layer 4@1X.png");
    background-attachment: fixed;
}
.grid-container-header-content{
    grid-row-start: 2;
    align-items: self-end;
    margin: 0 auto;
    display: grid;
    width: 869px;
    justify-items: center;
    height: 300px;
}
.grid-container-header-text{
    font-size: 22pt;
    text-transform: uppercase;
    margin: 0;
    color: white;
}
.blue-stripe{
    width:60px;
    height: 3px;
    background-color:#18b4cf;
}
.grid-logo{
    margin-left: 50px;
}
.hot-news-description-paragraph{
    margin: auto;
    font-weight: 600;

}
.pictures-in-top-rated-section{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}
.hot-news-block-description-heading{
    font-size: 18px;
    font-weight: 600;
}
.hot-news-text{
    color: #14b9d5;
    padding: 32px;
    font-weight: 700;
    font-size:27px;
    margin: auto;
    text-transform: uppercase;
}
.top-rated-section{
    display: grid;
    grid-auto-rows: 0.5fr 1fr;
}
.top-rated-text{
    color: #14b9d5;
    font-size:27px;
    margin: auto;
    text-transform: uppercase;
    font-weight: 700;

}
.hot-news-container{
    margin: 0 auto;
    height: 100%;
    width: 1160px;
    display: grid;
    grid-template-rows:260px 420px 420px 260px;
    grid-gap: 30px;
}
.row1{
    display: grid;
    grid-template-columns: 1fr 1fr 46px 1fr;

}
.row2 , .row3{
    display: grid;
    grid-template-columns: 1fr 60px 1fr ;
    grid-template-rows: 260px 160px;
    height: 420px;
}
.row4{
    display: grid;
    grid-template-columns: 1fr 46px 1fr  1fr;
}

.common-size{
    width: 100%;
    height: 100%;
}
.row2-second-image{
    grid-column-start: 3;
}
.text-in-first-row{
    background-color:#f9f7f7;
    width:374px;
    padding: 10px;
    text-align: right;}
.first-row-third-block{
    display: grid;
    height: 260px;
    grid-column-start: 4;
    background-color:#f9f7f7;
    grid-template-rows: 210px 50px;
}

.second-row-second-block{
    grid-column-start: 3;
}
.description-block{
    background-color:#f9f7f7;
}
.text-in-fourth-row{
    background-color:#f9f7f7;
    grid-column-start: 4;
    padding: 10px;
    text-align: right;

}

.second-row-text{
    grid-column-start: 1;
    grid-row-start: 2;
    padding: 10px;
    text-align: right;
}
.second-row-second-description-block{
    grid-row-start: 2;
    background-color:#f9f7f7;
    grid-column-start: 3;
    padding: 10px;
    text-align: right;
}
.third-row-first-image-description{
    grid-column-start: 1;
    grid-row-start: 2;
    background-color:#f9f7f7;
    padding: 10px;
    text-align: right;
}
.third-row-second-picture{
    grid-column-start: 3;
}
.third-row-second-picture-description{
    grid-row-start:2;
    grid-column-start: 3;
    background-color:#f9f7f7;
    padding: 10px;
    text-align: right;
}
.first-row-second-image{
    grid-row-start: 1;
}
.fourth-row-first-block{
    display: grid;
    background-color:#f9f7f7;
    grid-template-rows: 210px 50px;
}
.fourth-row-second-image{
    grid-column-start: 3;
}
.footer-description{
    color: white;
    grid-column-start: 2;
}
.footer-image{
    grid-column-start:3;
    display: inline-flex;
    align-items: center;
}
.footer{
    margin-top: 70px;
    height: 80px;grid-template-columns: 1fr 1160px 190px 1fr;
    width: 100%;
    display: grid;
    background-color: #1d2124;
    align-content: center;
}
.second-footer-image{
    margin-bottom: 9px;

}
